.services-section {
  margin-top: 1.5rem;
  padding: 1rem 4rem;
  font-family: "Open Sans";
}

.services-section > h1 {
  font-weight: 600;
}

.services-section > p {
  color: #525f7f;
}

/* Service Card Container */
.service-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

/* Service Card */
.service-card {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  transition: box-shadow 0.3s ease;
  max-width: 30%;
}

.service-card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .services-section {
    padding: 0;
  }
  .service-cards-container {
    flex-direction: column;
  }
  .service-card {
    min-width: 100%;
  }
}

/* Icon Container */
.icon-container {
  width: 3rem;
  height: 3rem;
  background-color: #bfdbfe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Icon */
.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #2563eb;
}

/* Title */
.service-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Description */
.service-description {
  color: #4b5563;
  font-size: 1rem;
  line-height: 1.5;
}
